* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar */
header {
  width: 100%;
  height: 600px;
  /* display: flex;
  flex-wrap: wrap; */
  background-image: url("https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/Libraries/Production+Library/26-04-2021_Unsplash_forest.jpg/image1170x530cropped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  color: #ffff;
}

.logo h1 {
  font-size: 30px;
  margin: 18px 0 8px 0;
  display: inline-block;

  color: #ffff;
  padding-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
nav ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: cadetblue;
}

.active {
  background-color: rgb(76, 170, 170);
}

/* navbar ends */

/* mid section starts */
.mid-section {
  text-align: center;
  margin-top: 90px;
  /* color: #ffff; */
}
.banner h2 {
  font-size: 30px;
}
h3 {
  font-size: 40px;
}

.mid-section button {
  background-color: rgb(69, 161, 131);
  color: white;
  border: none;
  font-size: 15px;
  padding: 15px;
  border-radius: 20px;
}

.mid-section button:hover {
  background-color: wheat;
  color: black;
}

/* mid section ends */

/* content */
.container1 {
  justify-content: space-between;
}
.content {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
}
.content-image {
  height: 400px;
  width: 47%;
}
.content-data {
  height: 400px;
  width: 47%;
}
.container2 {
  width: 90%;
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container2-item {
  width: 20%;
  height: 200px;
  margin: 20px 0 0;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
}

/* content ends */

/* start of map-content */
.map {
  height: 300px;
  margin-top: 50px;
}
iframe {
  width: 100%;
  height: 100%;
}

/* end of map content */

/* start of footer */
footer {
  background-color: #144228;
  padding: 15px;
  text-align: center;
  color: #ffff;
  margin-top: 5px;
  letter-spacing: 5px;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer ul li a {
  color: black;
  display: block;
}

/* end of footer */
